# Importing Libraries

In [1]:
import pickle

file = open('months.txt','r')
months = file.readlines()
months = [x.replace('\n', '') for x in months]       
    
def delRows(a):    
    i = len(a.index) - 1
    while i >= 53:
        a = a.drop(index=i)
        i = i - 1
    return a  

def delCols(b):    
    i = len(b.columns) - 1
    while i >= 21:
        b = b.drop(columns=i)
        i = i - 1
    return b

# Importing Data

In [2]:
import pandas as pd
import glob

item = 'PETROL'
city = 'LAHORE'

path = "Prices/" # use your path
all_files = glob.glob(path + "*.csv")

prices = []

for filename in all_files:
    df = pd.read_csv(filename,  skiprows=2, header=None)
    if len(df.columns) > 21:
        df = delCols(df)
    if len(df.index) > 53:
        df = delRows(df)
    df.columns = ['SR','ITEM','UNIT','ISLAMABAD','RAWALPINDI','GUJRANWALA','SIALKOT','LAHORE','FAISALABAD','SARGODHA','MULTAN','BAHAWALPUR','KARACHI','HYDERABAD','SUKKUR','LARKANA','PESHAWAR','BANNU','QUETTA','KHUZDAR','AVERAGE']
    df.index = ['WHEAT','WHEAT FLOUR','RICE BASMATI','RICE IRRI-6','BREAD PLAIN MEDIUM','BEEF','MUTTON','CHICKEN','MILK FRESH','CURD','MILK NIDO','EGG HEN','MUSTARD OIL','COOKING OIL','VEGETABLE GHEE TIN','VEGETABLE GHEE LOOSE','BANANAS','MASOOR PULSE','MOONG PULSE','MASH PULSE','GRAM PULSE','POTATOES','ONIONS','TOMATOES','SUGAR','GUR','SALT POWDER','RED CHILLIES POWDER','GARLIC','TEA YELLOW LABEL','COOKED BEEF PLATE','COOKED DAL PLATE','TEA PREPARED SADA','CIGARETTES K-2','LONG CLOTH','SHIRTING','LAWN','GEORGETTE','SANDAL GENTS BATA','CHAPPAL SPONGE BATA','SANDAL LADIES BATA','ELECTRIC CHARGES','GAS CHARGES','KEROSENE','FIREWOOD','ENERGY SAVOR 14W','WASHING SOAP','MATCH BOX','PETROL','DIESEL','LPG 11KG CYLINDER','TELEPHONE LOCAL CALL','BATH SOAP LIFEBOUY']
    prices.append(float(df[city][item]))

# Concatenating Data

In [3]:
prices = pd.DataFrame(list(zip(months, prices)), 
               columns =['Month', 'Price'])
prices = prices.dropna()

file = "Data/" + item + '_' + city + "_data" +'.pickle'
with open(file, 'wb') as handle:
    pickle.dump(prices, handle, protocol=pickle.HIGHEST_PROTOCOL)

# Visualizing Data

In [4]:
prices

      Month   Price
0   2012-01   89.90
1   2012-02  103.46
2   2012-03  102.06
3   2012-04  102.69
4   2012-05   95.27
..      ...     ...
94  2019-11  118.16
95  2019-12  113.57
96  2020-01  116.93
97  2020-02  116.93
98  2020-03  108.18

[99 rows x 2 columns]